AZURE_SUBSCRIPTION_ID=your_subscription_id
RESOURCE_GROUP=your_resource_group
LOCATION=your_location
FOUNDRY_RESOURCE_NAME=your_foundry_resource_name
FOUNDRY_PROJECT_NAME=your_foundry_project_name
MODEL_DEPLOYMENT_NAME=your_model_deployment_name
FOUNDRY_PROJECT_ENDPOINT="your_project_endpoint"